{% extends "quiz/base.html" %}
{% block content %}
<!-- page-specific content here -->
{% endblock %}
<h1>🦋 Arya-Kwiz 🦋</h1>
<form method="POST">
  {% csrf_token %}
  {% for q in questions %}
    <div class="question">
      <p><b>{{ forloop.counter }}. {{ q.question }}</b></p>
      {% for option in q.options %}
        <label><input type="radio" name="q{{ forloop.parentloop.counter0 }}" value="{{ option }}" required> {{ option }}</label><br>
      {% endfor %}
    </div>
    <br>
  {% endfor %}
  <button type="submit">Submit Quiz</button>
</form>
{% endblock %}

