{% extends "quiz/base.html" %}
{% load static %}

{% block title %}Arya-Kwiz 🦋 Quiz{% endblock %}

{% block content %}
<div class="quiz-container">
  <h2>🦋 Arya-Kwiz</h2>
  <form method="post">
    {% csrf_token %}
    {% for q in questions %}
      <div class="question-block">
        <p class="question"><b>{{ forloop.counter }}.</b> {{ q.question }}</p>
        <div class="options">
          {% for opt in q.options %}
            <label>
              <input type="radio" name="question_{{ forloop.parentloop.counter0 }}" value="{{ opt }}" required>
              {{ opt }}
            </label><br>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <button type="submit" class="submit-btn">Submit</button>
  </form>
  <p style="text-align:left;margin-top:10px;">
    <a href="?new=1">Try again !</a>
  </p>
</div>
{% endblock %}

