{% extends "quiz/base.html" %}
{% block title %}Arya-Kwiz 🦋{% endblock %}
{% block content %}

<h1>🦋 Welcome to Arya-Kwiz! 🦋</h1>
<form method="post">
  {% csrf_token %}
  
  {% for q in questions %}
    <div class="question-block">
      <h3>{{ forloop.counter }}. {{ q.question }}</h3>

      {% for opt in q.options %}
        <label>
          <input type="radio" name="question_{{ q.id }}" value="{{ opt }}">
          {{ opt }}
        </label><br>
      {% endfor %}
    </div>
    <br>
  {% endfor %}

  <button type="submit" class="btn">Submit</button>
</form>

{% endblock %}

